html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #333, #000); /* Gradasi dari warna taskbar ke bawah */
}

.navbar {
  display: flex;
  font-family: 'Oswald', sans-serif; 
  justify-content: center; /* Memusatkan elemen di dalam navbar */
  align-items: center;
  background-color: #000; /* Warna taskbar */
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Tambahkan bayangan untuk memisahkan dari konten */
}

.navbar nav {
  display: flex;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0; /* Menghapus margin default */
  padding: 0; /* Menghapus padding default */
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease; /* Menambahkan transisi warna */
}

.navbar nav ul li a:hover {
  color: rgb(255, 251, 0); /* Warna berubah menjadi kuning */
}
.navbar nav ul li {
  position: relative;
}

.navbar nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Letakkan garis di bawah teks */
  width: 0; /* Awalnya, garis tidak terlihat */
  height: 2px;
  background-color: rgb(255, 251, 0); /* Warna garis bawah */
  transition: width 0.3s ease; /* Animasi lebar */
}

.navbar nav ul li a:hover::after,
.navbar nav ul li a:focus::after {
  width: 100%; /* Saat dihover atau diklik, garis akan melebar */
}

